@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,700&display=swap);
.mySwiper{

}
.swiper-wrapper{
    
}
/* .swiper-slide{
    width: auto !important;
}
.img-slider{
    width: auto !important;
} */
.swiper-button-next {
    right: -6% !important;
}
.swiper-button-prev {
    left: -6% !important;
}

.Katalog_menu.show{
    width: 80%;
    height: 100%;
    margin: 20px 0 20px 10%;
}
.Katalog_h2.show{height: 5%}
.Katalog_Verh.show{
    width: 50%; 
    height: 80%; 
    margin-bottom: 5%;
    display: block;
    float: left;
}
.Katalog_Verh.show:hover{transform:none}
.Katalog_Center.show{
    width: 50%;
    height: 80%;
    margin: 0;
    padding: 5%;
    align-items: center;
    justify-content: center;
    float: left;
    display: flex;
}
.Katalog_Center.show p{margin-top: 20px; font-size: 120%; line-height: normal}
.container_Katalog_Center{align-items: center; justify-content: center;}
.Katalog_Niz.show{
    height: 10%;
    margin-bottom: 0;
}
.Katalog_Niz_Container.show{width: 100%; background: var(--first_color)}
.btn_basket.show{width: 35%;float: left}
.btn_basket.show.beck{background: var(--fifth_color);color: var(--fourth_color);}
.price.show{
    width: 30%; 
    height: 60px; 
    background: var(--first_color); 
    color: var(--text_color_2);
    float: left;
    line-height: 60px;
    font-size: 125%;
}
.btn_basket.show.beck:hover{
    transform: translateX(10px) scale(1.02);
    color: var(--fifth_color);
    background: var(--fourth_color);
}

.info.cont{
    height: 100%;
}
.info iframe{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 10px;
    filter: grayscale(100%) brightness(70%);
    transition: all 2s ease;
}
.info iframe:hover{
    filter: none;
}
.contact{
    margin-top: 10%;
}

 .contact h2, h1{
    color: var(--text_color);
    padding: 2% 2% 2% 2%;
}
/*-------------------------------------------------------------------Соцсети----------------------------------------------*/
.social_icons {
    display: flex;
    justify-content: center;
}

.social_icons a {
    margin: 2% 2%;
}

.fa-brands{
    font-size: 500%;
    background: var(--first_color);
    color: var(--text_color);
    transition: all 0.5s ease;
}
.fa-brands:hover{
    transform: scale(1.05) translateY(-5px);
}
.fa-brands.fa-square-facebook:hover{
    color: #4867a9;
}
.fa-brands.fa-x-twitter:hover{
    color: #34302f;
    background: #acacac;
}
.fa-brands.fa-telegram:hover{
    color: #00abec;
}
.fa-brands.fa-youtube:hover{
    color: #ba0101;
}

.container_basket.menu{
    background: #7d9d78;
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
}
.basket_catalog{
    height: 50px;
    line-height: 50px;
    background: var(--first_color);
}
.basket_catalog.menu{
    float: left;
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin-bottom: 20px;
}
.basket_catalog_producti{
    width: 50%;
    height: 100%;
    float:left;
}
.basket_catalog_producti img{
    width: 100%;
    height: 100%;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
}
.basket_catalog_product{
    float: left;
    width: 30%;
    height: 100%;

}
.basket_catalog_info{
    float: left;
    width: 17.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.basket_count{
    display: block;
    background: var(--text_color);
    width: 50%;
    height: 40px;
}
.basket_count_btn{
    display: block;
    width: 30px;
    height: 30px;
    background: var(--fourth_color);
    float: left;
    line-height: 30px;
}
/*.basket_count_btn minus{*/
/*    float: right;*/
/*}*/
.basket_count_btn.plus{
    float: right;
}
body._lock{
    overflow: hidden;
}
.test_header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100px; */
    z-index: 20;
    background-color: var(--third_color);
}
.test_header_container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}
.test_header_logo{
    border-radius: 50%;
    background-color: var(--fourth_color);
    position: relative;
    z-index: 5;
    width: 40px;
    height: 40px;
}
.test_header_menu{}
.test_menu_icon{
    display: none;
}
.test_menu_body{}
.test_menu_list{
    list-style-type: none;
}
.test_menu_list > li{
    position: relative;
    margin-left: 20px;
}
.test_menu_link{
    text-decoration: none;
    color: var(--fourth_color);
    font-size: 18px;
}
.test_menu_link:hover{
    text-decoration: underline;
}
/* -------------------------- */
body.pc .test_menu_list > li:hover {}
/* -------------------------- */
@media (min-width: 767px){
    .test_menu_list{
        display: flex;
        align-items: center;
    }
    .test_menu_list > li{
        padding: 10px 0;
    }
}
@media (max-width: 767px){
    .test_menu_icon{
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .test_menu_icon span,
    .test_menu_icon::before,
    .test_menu_icon::after{
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: var(--fourth_color);
    }
    .test_menu_icon::before,
    .test_menu_icon::after{
        content: "";
    }
    .test_menu_icon::before{
        top: 0;
    }
    .test_menu_icon::after{
        bottom: 0;
    }
    .test_menu_icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .test_menu_icon._active span{
        transform: scale(0) translate(0px, -50%);
    }
    .test_menu_icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .test_menu_icon._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .test_menu_body{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--first_color);
        padding: 100px 30px 30px 30px;
        opacity: 0.9;
        /* transition: left 0.3 ease 0s; */
        overflow: auto;
    }
    .test_menu_body._active{
        left: 0;
    }
    .test_menu_body::before{
        content: '';
        z-index: 5;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: var(--third_color);
    }
    .test_menu_list > li{
        margin: 0px 0px 30px 0px;
    }
    .test_menu_list > li:last-child{
        margin-bottom: 0;
    }
    .test_menu_link{
        font-size: 24px;
    }
}
.header_menu_sticky{
    display: flex;
    background: var(--fifth_color);
    background: var(--third_color);
    position: sticky;
    top: 0;
    height: auto;
    width: 100%;
    z-index: 11;
}
.header_menu_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 0 2.5%;
    align-items: center;
    justify-content: space-between;
    min-height: 70px; 
}
.header_menu_logo{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    z-index: 5;
}
.header_menu{}
.header_menu_icon{
    display: none;
}
.header_menu_body{}
.header_menu_list{
    /* float: right; */
    /* display: flex;
    align-items: center; */
    list-style-type: none;
    
}
.header_menu_list > li{
    /* float: right;
    display: inline; */
    position: relative;
    margin-right: 20px;
    /* padding: 10px 10px; */
}
.header_menu_list a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}
@media (min-width: 1000px){
    .header_menu_list{
        display: flex;
        align-items: center;
    }
    .header_menu_list > li{
        padding: 10px 0;
    }
}
@media (max-width: 1000px){
    .header_menu_icon{
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .header_menu_icon span,
    .header_menu_icon::before,
    .header_menu_icon::after{
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: var(--fourth_color);
    }
    .header_menu_icon::before,
    .header_menu_icon::after{
        content: "";
    }
    .header_menu_icon::before{
        top: 0;
    }
    .header_menu_icon::after{
        bottom: 0;
    }
    .header_menu_icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .header_menu_icon._active span{
        transform: scale(0) translate(0px, -50%);
    }
    .header_menu_icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .header_menu_icon._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .header_menu_body{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--first_color);
        padding: 100px 30px 30px 30px;
        opacity: 0.9;
        /* transition: left 0.3 ease 0s; */
        overflow: auto;
    }
    .header_menu_body._active{
        left: 0;
    }
    .header_menu_body::before{
        content: '';
        z-index: 5;
        position: fixed;
        position: sticky;
        top: 0;
        height: auto;
        width: 100%;
        z-index: 11;
        background-color: var(--third_color);
    }
    .header_menu_list > li{
        margin: 0px 0px 30px 0px;
        /* display: block; */
    }
    .header_menu_list > li:last-child{
        margin-bottom: 0;
    }
    .header_menu_link{
        font-size: 24px;
    }
}
























/* .header_menu{
    padding: 0.5% 7.5% 0.5% 7.5%;
    background: var(--fifth_color);
    width: 100%;
    height: auto;
    margin:auto;
    text-align: center;
}
.button_menu a {
    color: var(--fourth_color);
    text-decoration: none;
}
.button_menu{
    width: 7.2%;
    background: var(--fifth_color);
    color: var(--fourth_color);
    padding: 0.5% ;
    cursor:pointer;
    border-radius: 5px;
    border: var(--fourth_color) 2px solid;
    font-size: 14px;
}
.button_menu:hover{
    color: var(--third_color);
    border: var(--third_color) 2px solid;
} */

*,
::after,
::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
h1{
    margin-top: 10px;
    text-align: center;
} 
html,
body {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background: var(--first_color);
    --first_color: #34302f;
    --second_color: #b5836b;
    --third_color: #f6314a;
    --fourth_color: #fdfdfd;
    --fifth_color: #110d0e;
    --text_color: #868585;
    --text_color_2: #45b949;
    --text_color_3: #d0c0ba;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
@media (max-width: 1000){

}
@media (max-width: 740){

}
/*-------------------------------------------------------------------голова--------------------------------------------------------------------------------------------------------------------------*/
.header{
    width: 100%;
    height: auto;
    background: var(--fifth_color);
    color: var(--fourth_color);
    display: flex;
    padding:  20px 7.5% 20px 7.5%;
}
/* .header_container{
    max-width: 80%;
    height: auto;
    display: flex;
} */
.header_logo{
    background: var(--fifth_color);
    height: 100%;
    width: 15%;
    margin: 0px 2% 0px 0;
}
.header_logo img{
    /* display: block; */
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;

}
.header_phone{
    background: var(--fifth_color);
    height: 70%;
    width: 50%;
    display:block;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}
.header_phone_nomer{
    color: var(--fourth_color);
    background: var(--fifth_color);
    height: 60%;
    width: 100%;
    font-size: 150%;
}
.header_phone_nomer_text:hover{
    color: var(--third_color);
    cursor:pointer ;
}
.header_phone_nomer span{
    margin-right: 40px;
}
.header_phone_dostavka{
    background: var(--fifth_color);
    height: 40%;
    width: 100%;
}
.header_lang{
    background: var(--fifth_color);
    height: 100%;
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
    /* text-align: center; */
}
.button{
    float: right;
    border-radius: 5px;
    width: 25%;
    height: 40px;
    background: var(--fifth_color);
    color: var(--fourth_color);
    font-size: 100%;
    font-weight: bold;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-left: 5px;
}
.button:hover{
    transform: scale(1.05) translateY(5px) translateX(-5px);
    border: solid 2px var(--fourth_color);
    color: var(--fourth_color);
}
/*-------------------------------------------------------------------блок sticky--------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------main----------------------------------------------------------------------------------------------------------------------*/
.main{
    flex: 1.1 auto;
}
.main_promo{
    position: relative;
    width: 100%;
    background: var(--first_color);
    color: var(--fourth_color);
    margin:50px 0% 20px 0%;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.57);
}
.item_promo{
    background: var(--first_color);
    height: 600px !important;
    min-width: 100%;
    /* scroll-snap-align: center; */
}
.item_promo img {
    width: 100%;
    height:100%;
    -o-object-fit: cover;
       object-fit: cover;

}
/*-------------------------------------------------------------------каталоги---------------------------------------------------------------------------------------------------------------------*/
.Katalog_main{
    position: relative;
    width: 85%;
    height:auto;
    background: var(--first_color);
    color: var(--fourth_color);
    margin:20px 7.5% 20px 7.5%;
    border-radius:20px;
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
}
.Katalog{
    color: var(--text_color_3);
    height: 600px;
    /* min-width: 28.333%; */
    /* display: inline-block; */
    text-align: center;
    background: var(--first_color);
    /* float: left; */
    border-radius:20px;
    /* scroll-snap-align: end; */
    margin: 0 2.5% 0 2.5%;
}
.Katalog_h2{
    /* margin-top: 2.5%;
    margin-bottom: 2.5%; */
    margin:  2.5% 0 2.5% 0;
    height: 5%;
}
/*.Katalog:not(:first-of-type){*/
/*    margin-left:  5%;*/
/*}*/
/*-------------------------------------------------------------------каталог Меню---------*/
.Katalog_menu{
    width: 20%;
    height: 550px;
    color: var(--text_color_3);
    margin: 20px 0 20px 4%;
    float: left;
    text-align: center;
}


/*-------------------------------------------------------------------каталог Verh---------*/
.Katalog_Verh{
    height: 45%;
    width: 100%;
    margin-bottom: 5%;
    background: var(--first_color);
    border-radius: 10px;
    transition: all 1s ease;
}
.photo{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Katalog_Verh img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
}
.Katalog_Verh:hover{
    transform: scale(1.05) translateY(-5px);
}
/*-------------------------------------------------------------------каталог Center---------*/
.Katalog_Center{
    margin-bottom: 5%;
    height: 25%;
    width: 100%;
    background: var(--first_color);
    line-height: 15px;
    border-radius: 10px;
    overflow: hidden;
}
.Katalog_Center p{
    text-align: left;
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
}
/*-------------------------------------------------------------------каталог Niz---------*/
.Katalog_Niz{
    height: 10%;
    width: 100%;
    float: left;
    background: var(--fifth_color);
    color: var(--text_color);
    border-radius: 10px;
    line-height: 50px;
    margin-bottom: 5%;
}
.Katalog_Niz_Container{
    float: left;
    width: 50%;
    height: 100%;
    color: var(--third_color);
    font-weight: bold;
    font-size: large;
}
.Katalog_Niz_Container span{
    color: var(--text_color);
    text-decoration: line-through;
    text-decoration-color: red;
    margin-right: 10px;
}
.btn_basket{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    background: var(--fourth_color);
    transition: all 1s ease;
    cursor: pointer;
}
.btn_basket i{
    font-size: x-large;
}
.btn_basket:hover{
    transform: translateX(-20px) scale(1.02);
    color: var(--fourth_color);
    background: var(--fifth_color);
}
/*-------------------------------------------------------------------info----------------------------------------------*/
.info_main{
    
    /* display: flex;
    flex-direction:column-reverse; */
    width: 85%;
    background: var(--first_color);
    margin: auto;
    height:auto;
}
.info{
    float: left;
    margin-top: 2%;
    background: var(--first_color);
    width: 49%;
    height: auto;
    border-radius: 20px;
}
.info_h{
    display: block;
    margin-top:50px;
}
.info h2{
    text-align: center;
    padding: 10% 10% 10% 10%;
}
.info.left {
    margin-right: 2%;
    height: 500px;
}
.info.right{
    height: 500px;
}
.info img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,0.3);
}
/*------------------------------------------------------- кнопка up------------------------------------------------------------------*/
.up_button{
    background-color:  var(--text_color);
    width: 70px;
    height: 70px;
    position: fixed;
    display: flex;
    bottom: -100px;
    right: 10px;
    float: right;
    z-index: 11;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    /* text-align: center; */
    justify-content: center;
    font-size: 400%;
    color: var(--first_color);
    transition: all 1s ease;
}
.up_button._active-up{
    opacity: 0.1;
    pointer-events: auto;
    bottom: 10px;
}
.up_button:hover{
    opacity: 0.5;
}
.up_a{
    text-decoration: none;
}
/*-------------------------------------------------------------------Подвал---------------------------------------------------------*/
.footer{
    /* margin-top: 100px; */
    float: left;
    width: 100%;
    height:230px;
    text-align: center;
    border-top: 2px var(--text_color) solid;
    background: var(--first_color);
    color: var(--fourth_color);
}
.footer_promo{
    margin-top: 20px;
    width: 100%;
    height: 125px;
    background: var(--first_color);
}
.footer_promo .footer_content{
    float: left;
    margin-left: 2.5%;
    width: 30%;
    height: 100%;
    background: var(--first_color);
}
.footer_promo img{
    width: 100%;
    height: 100%;
}
.footer_promo .right {
    border-radius: 5px;
    border: 2px var(--text_color) solid;
    padding: 5px;
    display: block;
    font-size: 50%;
    color: var(--text_color);
}
.footer_menu{
    width: 100%;
    margin: 20px 0 20px 0;
}
.footer_menu nav a{
    color: var(--fourth_color);
    transition: all 0.5s ease;
    padding: 10px;
}
.footer_menu nav a:hover{
    color: var(--third_color);
}
/*-------------------------------------------------------------------Popap-----------------------------------------------------------------------------------------------------------------------*/

