
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,700&display=swap');

*,
::after,
::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
h1{
    margin-top: 10px;
    text-align: center;
} 
html,
body {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background: var(--first_color);
    --first_color: #34302f;
    --second_color: #b5836b;
    --third_color: #f6314a;
    --fourth_color: #fdfdfd;
    --fifth_color: #110d0e;
    --text_color: #868585;
    --text_color_2: #45b949;
    --text_color_3: #d0c0ba;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/*-------------------------------------------------------------------голова--------------------------------------------------------------------------------------------------------------------------*/
.header{
    width: 100%;
    height: auto;
    background: var(--fifth_color);
    color: var(--fourth_color);
    display: flex;
    padding:  20px 7.5% 20px 7.5%;
    z-index: 4;
    justify-content: space-between;
}
/* .header_container{
    max-width: 80%;
    height: auto;
    display: flex;
} */
.header_logo{
    background: var(--fifth_color);
    height: 100%;
    width: 15%;
    margin: 0px 2% 0px 0;
}
.header_logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header_phone{
    background: var(--fifth_color);
    height: 70%;
    width: 50%;
    display:block;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}
.header_phone_nomer{
    color: var(--fourth_color);
    background: var(--fifth_color);
    height: 60%;
    width: 100%;
    font-size: 150%;
}
.header_phone_nomer_text:hover{
    color: var(--third_color);
    cursor:pointer ;
}
.header_phone_nomer span{
    margin-right: 40px;
}
.header_phone_dostavka{
    background: var(--fifth_color);
    height: 40%;
    width: 100%;
}
.header_lang{
    background: var(--fifth_color);
    height: 100%;
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
    /* text-align: center; */
}
.button{
    float: right;
    border-radius: 5px;
    width: 25%;
    height: 40px;
    background: var(--fifth_color);
    color: var(--fourth_color);
    font-size: 100%;
    font-weight: bold;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-left: 10px;
}
.button.basket{
    font-size: 140%;
}
.button:hover{
    transform: scale(1.05) translateY(5px) translateX(-5px);
    border: solid 2px var(--fourth_color);
    color: var(--fourth_color);
}
/*-------------------------------------------------------------------блок sticky--------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------main----------------------------------------------------------------------------------------------------------------------*/
.main{
    flex: 1.1 auto;
}
/*-------------------------------------------------------------------каталоги---------------------------------------------------------------------------------------------------------------------*/
.Katalog_main{
    position: relative;
    width: 85%;
    height:auto;
    background: var(--first_color);
    color: var(--fourth_color);
    margin:20px 7.5% 20px 7.5%;
    border-radius:20px;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
}
.Katalog{
    color: var(--text_color_3);
    height: 600px;
    /* min-width: 28.333%; */
    /* display: inline-block; */
    text-align: center;
    background: var(--first_color);
    /* float: left; */
    border-radius:20px;
    /* scroll-snap-align: end; */
    margin: 0 2.5% 0 2.5%;
}
.Katalog_h2{
    /* margin-top: 2.5%;
    margin-bottom: 2.5%; */
    margin:  2.5% 0 2.5% 0;
    height: 5%;
}
/*.Katalog:not(:first-of-type){*/
/*    margin-left:  5%;*/
/*}*/

/*-------------------------------------------------------------------каталог Verh---------*/
.Katalog_Verh{
    height: 45%;
    width: 100%;
    margin-bottom: 5%;
    background: var(--first_color);
    border-radius: 10px;
    transition: all 1s ease;
}
.photo{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Katalog_Verh img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.Katalog_Verh:hover{
    transform: scale(1.05) translateY(-5px);
}
/*-------------------------------------------------------------------каталог Center---------*/
.Katalog_Center{
    margin-bottom: 5%;
    height: 25%;
    width: 100%;
    background: var(--first_color);
    line-height: 15px;
    border-radius: 10px;
    overflow: hidden;
}
.Katalog_Center p{
    text-align: left;
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
}
/*-------------------------------------------------------------------каталог Niz---------*/
.Katalog_Niz{
    height: 10%;
    width: 100%;
    float: left;
    background: var(--fifth_color);
    color: var(--text_color);
    border-radius: 10px;
    line-height: 50px;
    margin-bottom: 5%;
}
.Katalog_Niz_Container{
    float: left;
    width: 50%;
    height: 100%;
    color: var(--third_color);
    font-weight: bold;
    font-size: large;
}
.Katalog_Niz_Container span{
    color: var(--text_color);
    text-decoration: line-through;
    text-decoration-color: red;
    margin-right: 10px;
}
.btn_basket{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    background: var(--fourth_color);
    transition: all 1s ease;
    cursor: pointer;
}
.btn_basket i{
    font-size: x-large;
}
.btn_basket:hover{
    transform: translateX(-20px) scale(1.02);
    color: var(--fourth_color);
    background: var(--fifth_color);
}

/*------------------------------------------------------- кнопка up------------------------------------------------------------------*/
.up_button{
    background-color:  var(--text_color);
    width: 70px;
    height: 70px;
    position: fixed;
    display: flex;
    bottom: -100px;
    right: 10px;
    float: right;
    z-index: 11;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    /* text-align: center; */
    justify-content: center;
    font-size: 400%;
    color: var(--first_color);
    transition: all 1s ease;
}
.up_button._active-up{
    opacity: 0.1;
    pointer-events: auto;
    bottom: 10px;
}
.up_button:hover{
    opacity: 0.5;
}
.up_a{
    text-decoration: none;
}

@media (max-width: 1000px){
    .header_phone{
        display: none;
    }
    .header_logo{
        width: 20%;
    }
    .header_lang{
        width: 50%;
    }
    .button{
        width: 30%;
        font-size: 110%;
    }
}
@media (max-width: 740px){
    .header_logo{
        width: 30%;
    }
    .header_lang{
        width: 70%;
    }
    .button{
        font-size: 120%;
    }
    button.basket{
        width: 20%;
        font-size: 150%;
    }
}
@media (max-width: 450px){
    .header_logo{
        width: 40%;
    }
    .header_lang{
        width: 60%;
    }
    .button.contacti{
        display: none;
    }
    .button{
        width: 45%;
        font-size: 130%;
    }
    button.basket{
        width: 30%;
        margin-left:20px 
    }
}
/*-------------------------------------------------------------------Popap-----------------------------------------------------------------------------------------------------------------------*/

@import "burger.css";
@import "header_menu.css";
@import "promo.css";
@import "info.css";
@import "footer.css";
@import "swiper.css";
@import "show.css";
@import "contact.css";
@import "basket.css";
@import "katalog_menu.css";

@media (max-width: 1000px){}
@media (max-width: 740px){}
@media (max-width: 450px){}
