.container_basket{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.container_basket_result{
    width: 30%;
    float: left;
}
.basket_result{
    padding: 20px;
    border: var(--text_color) solid 1px;
    border-radius: 10px;
}
.basket_order_details{
    color: var(--text_color);
}
.basket_order_details h4{
    padding-bottom: 1vh;
}
.basket_order_details_btn_container{
    margin-top: 1vh;
    width: 100%;
    height: 5vh;
}
.container_basket_items{
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 70%;
    color: var(--text_color);
}
.basket_catalog.menu{
    height: 150px;
    position: relative;
    width: 50%;
    float: left;
    display: flex;
    align-items: center ;
    margin: 0 0 3vh 0;
}
.basket_catalog_img{
    /* position: relative; */
    height: 100%;
    width: 50%;
    float: left;
    border-radius: 5px;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.basket_catalog_img:hover{
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
}
.basket_catalog_img img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    border-radius: 5px;
}
.basket_catalog_close{
    top: 0px;
    right: 2.5%;
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--text_color);
    color: var(--fifth_color);
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.7s ease;
}
.basket_catalog_close:hover{
    opacity: 1;
}
.basket_catalog_info_container{
    float: left;
    width: 50%;
}
.basket_catalog_title{
    width: 100%;
    /* float: left; */
    text-align: center;
}
.basket_catalog_price_container{
    margin: 2vh 5% 0 5%;
    display: flex;
    justify-content: space-between;
    float: left;
    width: 90%;
    font-size: 14px;
}
.basket_count{
    display: flex;
    justify-content: space-between;
    width: 30%;
    border-radius: 10px;
    /* background-color: var(--text_color); */
    color: var(--fifth_color);
}
.basket_count.menu{
    width: 80%;
    height: 100%;
    align-items: center;
    margin-left: 10%;
}
.basket_catalog_price{
    font-size: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basket_count_result{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text_color);
    min-width: 15px;
}
.basket_count_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--text_color);
    cursor: pointer;
    /* border: solid 1px var(--fifth_color); */
}
.basket_count_btn.menu{
    width: 30px;
    height: 30px;
}
.basket_count_btn.minus{}
.basket_count_btn.plus{}
.basket_close_all{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    /* padding-left: 20px; */
    margin: 3vh 0 3vh 0;
}
.btn_basket.close_all{
    height: 40px;
    width: 200px;
    opacity: 0.2;
    transition: all 0.5 ease;
}
.btn_basket.close_all:hover{
    opacity: 1;
}
.basket_total_price{
    display: flex;
    width: 50%;
    align-items: center;
    margin: 3vh 0 3vh 0;
    /* border-top: solid 1px var(--text_color);
    border-bottom: solid 1px var(--text_color); */
    padding-right: 20px;
    color: var(--text_color);
    justify-content: right;
}
.basket_total_price h2{
    /* float: right; */
}
.order_details_container.center{
    justify-content: center;
    /* color: var(--third_color); */
    font-size: 20px;
}
@media (max-width: 1400px){
    .container_basket{
        width: 95%;
    }
}
@media (max-width: 1024px){
    .container_basket{
        width: 80%;
    }
    .container_basket_result{
        width: 40%;
    }
    .container_basket_items{
        justify-content: center;
        width: 60%;
    }
    .basket_catalog.menu{
        width: 100%;
    }
    .basket_total_price{
        margin-top: 0;
    }
}
@media (max-width: 740px){
    .container_basket{
        /* order: initial; */
    }
    h1{
        padding: 3vh 0 3vh 0;
    }
    .basket_catalog.menu{
        width: 100%;
    }
    .basket_close_all{
        margin-top: 0;
    }
    .container_basket_result{
        width: 100%;
        order: 1;
        margin-bottom: 3vh;
    }
    .container_basket_items{
        width: 100%;
        order: 2;
    }
}
@media (max-width: 450px){
    .basket_catalog_info_container{
        padding-right: 10%;
    }
    .basket_catalog_price_container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .basket_catalog_price{
        width: 100%;
    }
    .basket_count.basket{
        margin: 5px;
        width: 70%;
    }
}
