
.container_basket.menu{
    background: #7d9d78;
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
}
.basket_catalog{
    height: 50px;
    line-height: 50px;
    background: var(--first_color);
}
.basket_catalog.menu{
    float: left;
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin-bottom: 20px;
}
.basket_catalog_producti{
    width: 50%;
    height: 100%;
    float:left;
}
.basket_catalog_producti img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}
.basket_catalog_product{
    float: left;
    width: 30%;
    height: 100%;

}
.basket_catalog_info{
    float: left;
    width: 17.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.basket_count{
    display: block;
    background: var(--text_color);
    width: 50%;
    height: 40px;
}
.basket_count_btn{
    display: block;
    width: 30px;
    height: 30px;
    background: var(--fourth_color);
    float: left;
    line-height: 30px;
}
/*.basket_count_btn minus{*/
/*    float: right;*/
/*}*/
.basket_count_btn.plus{
    float: right;
}