.Catalog_main{
    position: relative;
    width: 100%;
    height:auto;
    color: var(--fourth_color);
    border-radius:20px;
}
.Catalog{
    color: var(--text_color);
    height: 400px;
    text-align: center;
    margin: 0 2.5% 0 2.5%;
}
.Catalog_h2{
    margin:  2.5% 0 2.5% 0;
    height: 7.5%;
}
/*.Catalog:not(:first-of-type){*/
/*    margin-left:  5%;*/
/*}*/

/*-------------------------------------------------------------------каталог Verh---------*/
.Catalog_Verh{
    height: 45%;
    width: 100%;
    margin-bottom: 5%;
    background: var(--first_color);
    border-radius: 10px;
    transition: all 0.7s ease;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);

}
.photo{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Catalog_Verh img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.Catalog_Verh:hover{
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
}
/*-------------------------------------------------------------------каталог Center---------*/
.Catalog_Center{
    margin-bottom: 5%;
    height: 22.5%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    color: var(--text_color);
}
.Catalog_Center p{
    text-align: left;
    margin-top: 10px;
    font-style: italic;
}
/*-------------------------------------------------------------------каталог Niz---------*/
.Catalog_Niz{
    height: 10%;
    width: 100%;
    float: left;
    /* background-color: var(--fifth_color); */
    /* background-color: var(--text_color); */
    /* color: var(--text_color); */
    color: var(--fifth_color);
    border-radius: 10px;
    margin-bottom: 5%;
    /* border: var(--text_color_3) solid 1px; */
}
.Catalog_Niz_Container{
    display: flex;
    float: left;
    width: 50%;
    height: 100%;
    color: var(--third_color);
    /* color: var(--fifth_color); */
    /* font-weight: bold; */
    font-size: large;
    align-items: center;
    justify-content: center;
    font-weight:600;
}
.Catalog_Niz_right{
    float: left;
    width: 50%;
    height: 100%;
    color: var(--third_color);
    font-weight: bold;
    font-size: large;
}
.Catalog_Niz_Container span{
    color: var(--text_color);
    /* color: var(--fifth_color); */
    text-decoration: line-through;
    text-decoration-color: var(--third_color);
    margin-right: 10px;
    
}
.btn_basket{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    background-color: var(--fourth_color);
    /* background-color: var(--fifth_color); */
    /* color: var(--fourth_color); */
    transition: all 0.7s ease;
    cursor: pointer;
}
.btn_basket i{
    font-size: large;
}
.btn_basket:hover{
    /* transform: translateX(-20px) scale(1.02); */
    color: var(--fourth_color);
    background: var(--fifth_color);
}
.btn_basket:focus{
    color: var(--fourth_color);
    background: var(--fifth_color);
}