
.info.cont{
    margin-bottom: 2%;
}
.info iframe{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    filter: grayscale(100%) brightness(70%);
    transition: all 2s ease;
}
.info iframe:hover{
    filter: none;
}
.contact{
    margin: 10% 0 10% 0;
}

 .contact h2, h1{
    color: var(--text_color);
    padding: 2% 2% 2% 2%;
}
/*-------------------------------------------------------------------Соцсети----------------------------------------------*/
.social_icons {
    display: flex;
    justify-content: center;
}

.social_icons a {
    margin: 2% 2%;
}

.fa-brands{
    font-size: 300%;
    color: var(--text_color);
    transition: all 0.5s ease ;
    pointer-events:all;
}
.fa-brands:hover{
    transform: scale(1.05) translateY(-5px);
}
.fa-brands.fa-square-facebook:hover{
    color: #4867a9;
}
.fa-brands.fa-x-twitter:hover{
    color: #34302f;
    background: #acacac;
}
.fa-brands.fa-telegram:hover{
    color: #00abec;
}
.fa-brands.fa-youtube:hover{
    color: #ba0101;
}

@media (max-width: 1000px){
    .info.right.cont{
        height: auto;
        margin-top: 0;
    }
    .contact{
        margin: 0 ;
    }
}
@media (max-width: 740px){}
@media (max-width: 450px){}