* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
  /*Заголовки*/
  h1{
    text-align: center;
  }
  /*цвет тела*/
body {
  background: #cad9d7;
}
html {
  scroll-behavior: smooth;
}
/*-------------------------------------------------------------------блок меню--------------------------------------------------------------------------------------------------------------------------*/
.container_sticky{
  display: flex;
  background: #a5c3c4;
   position: sticky;
  top: 0px;
  height: 50px;
  width: 100%;
  z-index: 2;
}
.menu{
  background: #a5c3c4;
  width: 100%;
  height: 10px;
  margin:auto;
}
/*список блоков меню*/
 .menu_ul{
  text-align: center;
}
/*каждый блок*/
 .menu_ul li{
  display: inline;
  background: #a5c3c4;
  color: #333;
  padding: 5px 20px;
  cursor:pointer;
}
/*при навидении*/
/* .menu_ul li:hover{
  border-bottom: solid;
  color:#333;
  background: #a5c3c4;
  border-radius: 5px;
  border-color: green;
} */
/*где не делать*/
.menu_ul li:not(:last-of-type){
  margin-right: 0.5%;
}
.href{
  position: absolute;
  z-index: 1;
  top:-20em;
}
.menu_ul li a {
  color: #333;
  text-decoration: none;
}
.menu_ul li a:hover{
  cursor: pointer;
  color: green;
}

/*-------------------------------------------------------------------голова--------------------------------------------------------------------------------------------------------------------------*/
#header{
  width: 100%;
  height: 100px;
  background: #333;
  color: #fff;
  display: flex;
}
.header_logo{
  background: #333;
  height: 100%;
  width: 10%;
  margin: 0px 2% 0px 10%;
  line-height: 100px;
  text-align: center;
}
.header_logo img{
  display: block;
  width: 100%;
  height: 100%;

}
.header_phone{
  background: #333;
  height: 70%;
  width: 29%;
  display:block;
  margin-top: auto;
  margin-bottom: auto;
}
 .header_phone_nomer{
  color: #fff;
  background: #333;
  height: 60%;
  width: 100%;
  font-size: 150%;
}
.header_phone_nomer_text:hover{
  color: green;
  cursor:pointer ;
}
.header_phone_nomer span{
  margin-right: 40px;
}
.header_phone_dostavka{
  background: #333;
  height: 40%;
  width: 100%;
}
.header_lang{
  background: #333;
  height: 100%;
  width: 10%;
  margin: 0px 2% 0px 29%;
  line-height: 100px;
  text-align: center;
}
/*-------------------------------------------------------------------промо видео----------------------------------------------------------------------------------------------------------------------*/
#main{
  position: relative;
  width: 100%;
  min-height:500px;
  background: #8c8c8c;
  color: #fff;
  margin:0px 0% 20px 0%;
}
.scroller {
   overflow-x: hidden;
   display: flex;
   scroll-snap-type: x mandatory;
 }
 .item{
   background: #8c8c8c;
   height: 400px;
   min-width: 100%;
   scroll-snap-align: center;
   margin-top: 50px;
 }
 .item img {
   display: block;
    width: 90%;
    height:400px;
    border-radius: 30px;
    margin: auto;
 }
 /*-------------------------------------------------------------------кнопки-------*/
  .btn {
    position: absolute;
    top:250px;
    height: 3em;
    width: 3em;
    border-radius: 3em;
    background-color: #a5c3c4;
    z-index: 1;
    line-height: 3em;
    text-align: center;
    color: white;
    font-weight: bold;
    opacity: 0.5;
    user-select: none;
 }
  .btn:hover{
    cursor: pointer;
    opacity: 1;
    box-shadow: 1px 1px 10px 10px #333;
 }
  .btn.next {
    right: 15px;
 }
  .btn.prev {
    left: 15px;
 }
/*-------------------------------------------------------------------каталоги---------------------------------------------------------------------------------------------------------------------*/
.Katalog_main{
  position: relative;
  width: 80%;
  height:360px;
  background: #cad9d7;
  color: #fff;
  margin:20px 0% 20px 10%;
  border-radius:20px;
}
.Katalog_Skrol{
  overflow-x: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
}
/*-------------------------------------------------------------------кнопки коталога---------*/
.btn_kotal{
  position: absolute;
  background-color: #a5c3c4;
  height: 3em;
  width: 3em;
  text-align: center;
  border-radius: 3em;
  line-height: 3em;
  top: 10em;
  opacity: 0.5;
  box-shadow: 1px 1px 10px 10px #333;
  user-select: none;
}
.btn_kotal:hover{
  cursor: pointer;
  opacity: 1;
  box-shadow: 1px 1px 10px 10px #333;
}
.btn_kotal.next{
  float: right;
  right: -4em;
}
.btn_kotal.prev{
  float: left;
  left: -4em;
}

/*-------------------------------------------------------------------каталог 1---------*/
.Katalog{
  height: 360px;
  min-width: 19%;
  display: inline-block;
  text-align: center;
  background: #cad9d7;
  margin:0% 0% 0% 0%;
  float: left;
  border-radius:20px;
  scroll-snap-align: end;
}
.Katalog:not(:first-of-type){
  margin-left:  1.25%;
}
/*-------------------------------------------------------------------каталог Verh---------*/
.Katalog_Verh{
  height: 250px;
  width: 100%;
  display: inline-block;
  background: #333;
  float: left;
  border-radius: 10px;
  line-height: 210px;
}
/*-------------------------------------------------------------------каталог Center---------*/
.Katalog_Center{
  color: #333;
  height: 60px;
  width: 100%;
  display: inline-block;
  background: #cad9d7;
  float: left;
  line-height: 50px;
  border-radius: 10px;
}
/*-------------------------------------------------------------------каталог Niz---------*/
.Katalog_Niz{
  height: 50px;
  width: 100%;
  display: inline-block;
  background: #333;
  float: left;
  border-radius: 10px;
  line-height: 50px;
}
/*-------------------------------------------------------------------Подвал-----------------------------------------------------------------------------------------------------------------------*/
#footer{
  width: 100%;
  height: 50px;
  text-align: center;
  border-top: 3px red solid;
  background: #333;
  color: #fff;
  line-height: 50px;
  margin-top: 50px;
  float: left;
}
/*-------------------------------------------------------------------Popap-----------------------------------------------------------------------------------------------------------------------*/

.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.8;
  z-index: 2;
  top: 0;
  left: 0;
}
.popup_body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup_content{
  background-color: #fff;
  color: #333;
  max-width: 800px;
  padding: 30px;
}
.popup_close{}
.popup_title{
  font-size: 40px;
  margin: 0px 0px 1em 0px
}
.popup_text{}
