.mini_basket{
    display: block;
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: var(--text_color);
    top: 0;
    bottom: 0;
    right: -300px;
    /* right: 0; */
    z-index: 12;
    transition: all 0.5s ease;
    
}
/* .Catalog_h2{
    padding: 1vh;
    height: 5vh;
    width: 100%;
    text-align: center;
} */
.mini_basket_plug{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: var(--text_color);
    top: 0;
    bottom: 0;
    right: -100%;
    z-index: 10;
    transition: all 0.5s ease;
    opacity: 0.5;
}
._active_right{
    right: 0;
}
.mini_basket_catalog_wrapper{
    display: block;
    min-height: 93vh; 
}
.mini_basket_catalog_container{
    min-height: 83vh;
    padding-top: 5%;
}
.mini_basket_catalog{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 0 5% 5% 5%;
    justify-content: center;
    align-items: center;
}
.mini_basket_catalog_img{
    height: 100%;
    width: 50%;
    float: left;
    border-radius: 5px;
}
.mini_basket_catalog_img img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    border-radius: 5px;
}
.mini_basket_catalog_close{
    font-size: 110%;
    top: -10px;
    right: -10px;
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--text_color);
    color: var(--fifth_color);
    cursor: pointer;
}
.mini_basket_catalog_info_container{
    float: left;
    width: 50%;
}
.mini_basket_catalog_title{
    width: 100%;
    /* float: left; */
    text-align: center;
}
.mini_basket_catalog_price_container{
    margin: 1vh 5% 0 5%;
    display: flex;
    justify-content: space-between;
    float: left;
    width: 90%;
}
.mini_basket_catalog_price{
    font-size: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mini_basket_count{
    display: flex;
    justify-content: space-between;
    width: 60%;
    border-radius: 10px;
    margin-left: 15%;
    color: var(--fifth_color);
}
.mini_basket_count_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--text_color);
    cursor: pointer;
    /* border: solid 1px var(--fifth_color); */
}
.mini_basket_count_result{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fifth_color);
    width: 20px;
}
.mini_basket_total_price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    margin: 2vh 0 2vh 0;
    border-top: solid 1px var(--fifth_color);
    border-bottom: solid 1px var(--fifth_color);
    /* padding: 2vh 0 2vh 0; */
    color: var(--fifth_color);
}
.mini_btn_basket_wrapper{
    position: relative;
    width: 100%;
    height: 5vh;
    font-size: 130%;
}
.mini_btn_basket_wrapper span{
    font-size: 110%;
}
.btn_basket.mini{
    width: 80%;
    margin-left: 10%;
    background-color: var(--third_color);
}
.btn_basket.mini:hover{
    background-color: var(--text_color);
    border: var(--third_color) solid 2px;
    transform: scale(1.01);
    color: var(--third_color);
}
