/*-------------------------------------------------------------------каталог Меню---------*/

.Catalog_menu.show{
    width: 100%;
    padding: 0 7.5% 2% 7.5%;
    background-image: url("/img/sinsai/sinsai-2.jpg");
    background-size: contain;
    background-color: #221f1fd2;
    background-blend-mode: overlay;
    display: block;
    float: left;
}
.Catalog_h2.show{
    height: 5%;
    text-align: center;
    color: var(--text_color);
}
.Catalog_Verh.show{
    width: 50%; 
    height: 400px; 
    margin-bottom: 2.5%;
    float: left;
}
.Catalog_Verh.show:hover{transform:none}
.Catalog_Center.show{
    width: 50%;
    height: 400px;
    margin: 0;
    padding: 5%;
    align-items: center;
    justify-content: center;
    float: left;
    display: flex;
}
.Catalog_Center.show p{
    margin-top: 20px; 
    font-size: 120%; 
    line-height: normal;
    color: var(--fourth_color);
    /* color: var(--text_color_3); */
}
.Container_Catalog_Center{
    align-items: center; 
    justify-content: center;
}
.Catalog_Niz.show{
    height: 10%;
    margin-bottom: 2.5%;
    background: none;
}
.Catalog_Niz_Container.show{
    width: 100%; 
    /* background: var(--first_color) */
}
.Catalog_Niz_right.show{
    /* display: flex; */
    /* align-items: center; 
    justify-content: center; */
    width: 20%;
    height: 40px;
}
.btn_basket.show{
    width: 100%;
    float: left
}
.btn_basket.show.beck{
    background: var(--fifth_color);
    color: var(--fourth_color);
}
.price.show{
    display: flex;
    width: 20%; 
    height: 40px; 
    margin: 0 20% 0 20%;
    /* background: var(--first_color);  */
    color: var(--text_color_2);
    float: left;
    font-size: 125%;
    align-items: center;
    justify-content: center;
    border:1px solid var(--text_color);
    border-radius: 10px;
}
.btn_basket.show.beck:hover{
    transform: translateX(10px) scale(1.02);
    color: var(--fifth_color);
    background: var(--fourth_color);
}
@media (max-width: 1000px){
    .Catalog_Verh.show{
        height: 350px;
    }
    .Catalog_Center.show{
        height: 350px;
    }
}
@media (max-width: 740px){
    .Catalog_Verh.show{
        /* height: 250px; */
        width: 100%;
    }
    .Catalog_Center.show{
        height: auto;
        width: 100%;
        padding: 0;
    }
    .Catalog_Center.show p{
        font-size: 100%; 
        /* line-height: normal */
    }
    .Catalog_Niz_right.show{
        width: 30%;
    }
    .price.show{
        width: 30%;
        margin: 0 5% 0 5% ;
    }
}
@media (max-width: 450px){
    .price.show{
        width: 30%;
        font-size: 100%;
        margin: 0 2% 0 2% ;
    }
    .Catalog_Verh.show{
        height: 250px;
        /* width: 100%; */
    }
    .Catalog_Niz_right.show{
        width: 33%;
    }
}