.mySwiper{

}
.swiper-wrapper{
    
}
/* .swiper-slide{
    width: auto !important;
}
.img-slider{
    width: auto !important;
} */
.swiper-button-next {
    right: -6% !important;
    z-index: 2 !important;
}
.swiper-button-prev {
    left: -6% !important;
    z-index: 2 !important;
}