/*-------------------------------------------------------------------каталог Меню---------*/
.container_menu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 5.5% 2% 5.5%;
    background-image: url("/img/sinsai/sinsai-16.jpg");
    background-size: cover;
    background-color:var(--first_color);
    background-blend-mode: overlay;
    float: left;
    /* opacity: 0.5; */
    /* border: var(--fifth_color) solid 1px; */
    border-radius: 10px;
}
.container_menu h1{
    width: 100%;
}
.Catalog_h3{
    margin: 2.5% 0 2.5% 0;
    height: 7.5%;
}
.Сatalog_menu{
    width: 21%;
    height: 400px;
    color: var(--text_color);
    margin: 20px 2% 0 2%;
    float: left;
    text-align: center;
}
.Catalog_Niz_Container form{
    height: 100%;
    width: 100%;
}
@media (max-width: 1024px){
    .Сatalog_menu{
        width: 29.33%;
        /* margin-left: 2.5%; */
    }
}
@media (max-width: 740px){
    .Сatalog_menu{
        width: 46%;
        border-top: 1px solid var(--text_color_3);
    }
}
@media (max-width: 450px){
    .container_menu{
        padding: 0 0 2% 0;
    }
    .Сatalog_menu{
        float: left;
        width: 96%;
        height: 200px;
        margin: 10px 2% 0px 2%;
    }
    .Catalog_h3{
        height: 22%;
        padding: 10px 0 10px 0; 
        margin: 0;
    }
    .Сatalog_menu .Catalog_Verh{
        height: 63%;
        padding-bottom: 10px;
        margin: 0;
        width: 50%;
        float: left;
    }
    .Сatalog_menu .Catalog_Center{
        height: 63%;
        width: 50%;
        margin: 0;
        padding-left: 5%;
        padding-bottom: 10px;
        font-size: 14px;
    }
    .Сatalog_menu.Catalog_Center p{
        margin-top: 5px;
    }
    .Сatalog_menu .Catalog_Niz{
        height: 15%;
    }
}
